html{
  font-family: 'Contrail One', cursive;
  box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2B3951;
  height: 242px;
}

.robot {
	width: 320px;
	position: relative;
	margin: 0 auto;
}

.left {
  width: 125px;
	position: absolute;
	top: 19px;
  left: 35px;
}

.right {
  width: 125px;
  position: absolute;
  top: 19px;
  right: 35px;
}

.brain {
	width: 46px;
	position: absolute;
	right: 137px;
	top: 60px;
}

.body {
  width: 320px;
	position: relative;
	top: 57px;
}
